<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 权限必须写在这里！！！ -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/spot_default"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jiuzhaigou">

        <activity android:name=".activity.SubSpotListActivity" />
        <activity android:name=".activity.SubSpotDetailActivity" />

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.NoticeListActivity"
            android:exported="false"/>
        <activity
            android:name=".activity.NoticeDetailActivity"
            android:exported="false"/>

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.TipActivity" />
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.RouteActivity" />
        <activity android:name=".activity.HotelActivity" />
        <activity android:name=".activity.BuyTicketActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.EditInfoActivity" />


    </application>

</manifest>